.navbar {
    overflow: hidden;
    border-bottom: 1px solid rgba(129, 133, 137, 0.3);    
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-item {
    float: right;
    padding: 2vh;
}

.logo{
    overflow: hidden;

    float:left;
}

.body-content {
    width: 30%;
    float: left;
}

.body-image {
    width: 70%;
    float: right;
}