.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 16px;
  }

.chat {
    margin-left: 25%
}

.chatw {
    margin-left: 25%
}

.img{
    size: auto;
  }