.navbar {
    overflow: hidden;
    display: flex;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-item {

    padding: 1%
}

.logo{
    overflow: hidden;
    height: 10vh;
}